.section.iframe-container{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.iframe.block {
    width: 100%;
    border: none;
}

.iframe.block iframe{
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
}

.iframe.block.contest-form iframe{
    width: 900px;
    max-width: 100%;
}