/* Add font definitions here. */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/opensans.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans Fallback';
    font-style: normal;
    font-weight: 400;
    src: local('Arial');
    ascent-override: 101.58%;
    descent-override: 27.84%;
    line-gap-override: 0.00%;
    size-adjust: 105.22%;
}

@font-face {
    font-family: 'Open Sans Fallback';
    font-style: normal;
    font-weight: 600;
    src: local('Arial Bold');
    ascent-override: 109.90%;
    descent-override: 30.12%;
    line-gap-override: 0.00%;
    size-adjust: 97.26%;
}

@font-face {
    font-family: 'Open Sans Fallback';
    font-style: normal;
    font-weight: 700;
    src: local('Arial Bold');
    ascent-override: 109.90%;
    descent-override: 30.12%;
    line-gap-override: 0.00%;
    size-adjust: 97.26%;
}

@font-face {
    font-family: 'Open Sans Fallback';
    font-style: normal;
    font-weight: 900;
    src: local('Arial Bold');
    ascent-override: 109.90%;
    descent-override: 30.12%;
    line-gap-override: 0.00%;
    size-adjust: 97.26%;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/montserrat.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat Fallback';
    font-style: normal;
    font-weight: 400;
    src: local('Arial');
    ascent-override: 87.81%;
    descent-override: 22.77%;
    line-gap-override: 0.00%;
    size-adjust: 110.23%;
}

@font-face {
    font-family: 'Montserrat Fallback';
    font-style: normal;
    font-weight: 600;
    src: local('Arial Bold');
    ascent-override: 95.01%;
    descent-override: 24.63%;
    line-gap-override: 0.00%;
    size-adjust: 101.89%;
}

@font-face {
    font-family: 'Montserrat Fallback';
    font-style: normal;
    font-weight: 700;
    src: local('Arial Bold');
    ascent-override: 95.01%;
    descent-override: 24.63%;
    line-gap-override: 0.00%;
    size-adjust: 101.89%;
}

@font-face {
    font-family: 'Montserrat Fallback';
    font-style: normal;
    font-weight: 900;
    src: local('Arial Bold');
    ascent-override: 95.01%;
    descent-override: 24.63%;
    line-gap-override: 0.00%;
    size-adjust: 101.89%;
}

@font-face {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/alfaslabone.woff2') format('woff2');
}

@font-face {
    font-family: 'Alfa Slab One Fallback';
    font-style: normal;
    font-weight: 400;
    src: local('Arial');
    ascent-override: 85.41%;
    descent-override: 27.45%;
    line-gap-override: 0.00%;
    size-adjust: 121.30%;
}

@font-face {
    font-family: 'Alfa Slab One Fallback';
    font-style: normal;
    font-weight: 900;
    src: local('Arial Bold');
    ascent-override: 92.40%;
    descent-override: 29.70%;
    line-gap-override: 0.00%;
    size-adjust: 112.12%;
}
