/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 101.58%;
  descent-override: 27.84%;
  line-gap-override: 0.00%;
  size-adjust: 105.22%;
}

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 109.90%;
  descent-override: 30.12%;
  line-gap-override: 0.00%;
  size-adjust: 97.26%;
}

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 109.90%;
  descent-override: 30.12%;
  line-gap-override: 0.00%;
  size-adjust: 97.26%;
}

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 900;
  src: local('Arial Bold');
  ascent-override: 109.90%;
  descent-override: 30.12%;
  line-gap-override: 0.00%;
  size-adjust: 97.26%;
}

@font-face {
  font-family: 'Montserrat Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 87.81%;
  descent-override: 22.77%;
  line-gap-override: 0.00%;
  size-adjust: 110.23%;
}

@font-face {
  font-family: 'Montserrat Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 95.01%;
  descent-override: 24.63%;
  line-gap-override: 0.00%;
  size-adjust: 101.89%;
}

@font-face {
  font-family: 'Montserrat Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 95.01%;
  descent-override: 24.63%;
  line-gap-override: 0.00%;
  size-adjust: 101.89%;
}

@font-face {
  font-family: 'Montserrat Fallback';
  font-style: normal;
  font-weight: 900;
  src: local('Arial Bold');
  ascent-override: 95.01%;
  descent-override: 24.63%;
  line-gap-override: 0.00%;
  size-adjust: 101.89%;
}

@font-face {
  font-family: 'Alfa Slab One Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 85.41%;
  descent-override: 27.45%;
  line-gap-override: 0.00%;
  size-adjust: 121.30%;
}

@font-face {
  font-family: 'Alfa Slab One Fallback';
  font-style: normal;
  font-weight: 900;
  src: local('Arial Bold');
  ascent-override: 92.40%;
  descent-override: 29.70%;
  line-gap-override: 0.00%;
  size-adjust: 112.12%;
}


@font-face {
  font-family: "fontawesome-normal-400-fallback";
  size-adjust: 137.621%;
  src: local("Arial");
}

:root {
  /* colors */
  --clr-black: #000;
  --clr-pampas: #e9e4de;
  --deep-reddish-brown: #673841;
  --clr-dark-gray: #141414;
  --clr-white: #fff;
  --tan: #8e7b5c;
  --subdued-gold: #b19b5e;
  --silver: #ccc;
  --very-light-grey: #ddd;
  --grey: #333;
  --light-grey: #d3d3d3;
  --dark-grey: #3c3a3b;
  --off-white: #f7f7f7;

  /* functional-colors */
  --clr-text: var(--clr-dark-gray);

  /* filter colors (https://codepen.io/sosuke/pen/Pjoqqp) */
  --clr-filter-gray: invert(18%) sepia(4%) saturate(304%) hue-rotate(277deg) brightness(98%) contrast(92%);

  /* fonts */
  --ff-arial: 'Arial', sans-serif;
  --ff-opensans: 'Open Sans', 'Open Sans Fallback', sans-serif;
  --ff-montserrat: 'Montserrat', 'Montserrat Fallback', sans-serif;
  --ff-alfaslabone: 'Alfa Slab One', 'Alfa Slab One Fallback', cursive;
  --ff-fontawesome: 'FontAwesome';

  /* body sizes */
  --text-size-xs: 12px;
  --text-size-sm: 14px;
  --text-size-md: 16px;
  --text-size-lg: 18px;
  --text-size-xl: 24px;

  /* heading sizes */
  --heading-font-size-xxs: 18px;
  --heading-font-size-xs: 20px;
  --heading-font-size-s: 24px;
  --heading-font-size-m: 26px;
  --heading-font-size-l: 35px;
  --heading-font-size-xl: 40px;

  /* Font Weights */
  --font-weight-extrabold: 700;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-thin: 100;

   /* Body */
   --body-font-size-xxs: 10px;
   --body-font-size-xs: 12px;
   --body-font-size-s: 14px;
   --body-font-size-m: 16px;
   --body-font-size-l: 18px;
   --body-font-size-xl: 20px;
   --body-font-size-xxl: 24px;

  /* misc */
  --nav-height: 60px;
  --icon-size: var(--text-size-xl);
}

body {
  display: none;
  margin: 0;
  color: var(--clr-text);
  font-family: var(--ff-arial);
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

html {
  font-size: 100%;
  line-height: 1.5
}

*,
::before,
::after {
  box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-style: none;
}

h1 {
  font-size: 25px;
  font-family: var(--ff-alfaslabone);
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #141414;
  margin: 2px auto;
}

h2 {
  font-family: var(--ff-montserrat);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--clr-text);
  margin: 0 auto;
  font-size: 12px;
}

a {
  font-family: var(--ff-montserrat);
  font-weight: 600;
  color: var(--clr-text);
  font-size: 12px;
  background-color: transparent;
  text-decoration: none
}

p {
  font-family: var(--ff-opensans);
  font-weight: 600;
  color: var(--clr-dark-gray);
  font-size: 12px;
  cursor: default
}

a:hover {
  transition: .8s;
  text-decoration: none;
  outline-width: 0;
}

a:active,
a:hover {
  outline-width: 0;
}

ul {
  list-style-type: none;
}

li {
  font-family: var(--ff-opensans);
  font-weight: 600;
  color: var(--clr-dark-gray);
  font-size: 12px;
  cursor: default;
}

input {
  font-size: 1em;
  font-family: var(--ff-arial);
  height: 2.85rem;
  padding: 0 .5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  outline: none;
  border: 1px solid;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  background-color: var(--clr-white);
  border-color: var(--very-light-grey);
  margin: 0;
}

button {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  color: var(--clr-white);
  text-transform: uppercase;
  background-color: var(--tan);
  border-color: var(--tan);
  display: inline-block;
  line-height: 26px;
  height: 50px;
  width: 250px;
  max-height: 50px;
  max-width: 250px;
}

.default-content-wrapper {
  color: var(--clr-text);
}

/* Two-column grid */
main .section[data-layout="50/50"] {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  box-sizing: border-box;
  display: flex;
}

main .section[data-layout="50/50"]>div {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

main .section[data-layout="50/50"] .left-grid>div {
  padding: 10px;
}

main .section[data-layout="50/50"] .right-grid>div {
  padding: 10px;
}

.icon > img {
  width: var(--icon-size);
  height: var(--icon-size);
}

.bg-dark-gray {
  --clr-text: var(--clr-white);

  background-color: var(--clr-dark-gray);
}

.bg-pampas {
  background-color: var(--clr-pampas);
}

@media screen and (max-width: 600px) {
  main .section[data-layout="50/50"] {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 35px;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  a {
    font-size: 14px;
  }
}
