.article{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    text-align: center;
    overflow: hidden;
    flex: 1 1 100%;
    min-height: 20rem;
    padding-bottom: 20px;
}
.article.article__thumbnail::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transition: visibility .2s linear;
}

.article__thumbnail:hover::before {
  visibility: hidden;
}

@media screen and (min-width: 60em) {
  .article.article__thumbnail {
    min-height: 26.25rem;
  }
}

.article__thumbnail .tag{
  position: absolute;
  background-color: #7e4a3a;
  top: 20px;
  left: 0;
  padding: 7px 24px;
  margin: 0 auto;
  text-transform: capitalize;
  justify-content: center;
  display: flex;
  flex: none;
  align-items: center;
  z-index: 9999;
  color: #fff;
  text-decoration: none;
  font-family: montserrat,sans-serif;
  font-weight: 600;
}

a:hover {
  transition: .8s;
  text-decoration: none;
  outline-width: 0;
}

*, ::before, ::after{
  box-sizing: border-box;
}

@media screen and (min-width: 60em) {
  .article.article__thumbnail .article__image {
    -webkit-flex-basis: 19.25rem;
    -ms-flex-preferred-size: 19.25rem;
    flex-basis: 19.25rem;
    max-height: 321px;
  }
}

.article__thumbnail picture{
  display: flex;
  align-items: flex-start;
  flex: 1 0 13rem;
  max-height: 321px;
  width: 100%;
}

.article__thumbnail picture>img{
  display: block;
  width: 100%;
  max-height: 321px;
  height: auto;
  max-width: 100%;
  border-style: none;
}

.article__thumbnail .article__content{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
}

@media screen and (min-width: 60em) {
  .article.article__thumbnail .article__header {
    min-height: 140px;
  }
}

.article__thumbnail .article__header{
  flex: 0 0 auto;
  width: 100%;
  min-height: 7rem;
  padding: 20px 30px;
  padding-top: 40px;
  background-color: #eaeaea;
  display: block;
}

.article__thumbnail .article__title{
  margin: 0 14px 16px;
  font-size: 16px;
  font-weight: 800;
}

.h2{
  font-family: montserrat,sans-serif;
  text-transform: uppercase;
  color: #141414;
}

@media screen and (min-width: 60em) {
  .article.article__thumbnail .article__titleLink::before {
    content: '';
    display: block;
    position: absolute;
  }
}

.article__thumbnail .article__titleLink{
  display: block;
  font-size: 1em;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  font-family: montserrat,sans-serif;
  background-color: transparent;
}

.article__thumbnail .article__meta{
  font-size: 0;
  color: #141414;
}

.article__thumbnail .article__meta a{
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #141414;
}

.article__thumbnail .article__meta > * {
  display: inline-block;
  font-family: montserrat,sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.article.article__thumbnail .article__pubdate:not(:only-child)::before {
  content: '|';
  display: inline-block;
  margin: 0 .5em;
}

.article.article__thumbnail:hover .article__preview {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.article__thumbnail .article__preview{
  flex: 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 30px;
  font-family: open sans,sans-serif;
  background-color: #eaeaea;
  transition: flex-grow .55s ease-in-out,-webkit-flex-grow .55s ease-in-out,-ms-flex-positive .55s ease-in-out;
}

/* .article__preview{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.5s ease;
}

.article__preview {
  transform: translateY(100%);
}

.article:hover .article__preview {
  transform: translateY(0);
} */
body{
  color: #333;
}

.article__thumbnail .article__excerpt{
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
  padding-bottom: 20px;
  font-weight: 600;
  opacity: 1;
  transition: flex-shrink .55s ease-in-out,opacity .55s ease-in-out,-webkit-flex-shrink .55s ease-in-out,-ms-flex-negative .55s ease-in-out;
}

.article.article__thumbnail:hover .article__excerpt {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  opacity: 1;
}

.article__thumbnail .article__excerpt::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to top,#eaeaea,rgba(234,234,234,.8) 6px,rgba(234,234,234,0));
}
.article.article__thumbnail .article__excerpt p:last-child, .article.article__thumbnail .article__excerpt ul:last-child, .article.article__thumbnail .article__excerpt ol:last-child {
  margin-bottom: 0;
}

.article.article__thumbnail .article__excerpt p:first-child, .article.article__thumbnail .article__excerpt ul:first-child, .article.article__thumbnail .article__excerpt ol:first-child {
  margin-top: 0;
}

.article__thumbnail .article__excerpt p{
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: default;
}

.article.article__thumbnail .article__readMore::after {
  content: '';
  font-family: FontAwesome;
}

.read_more::after {
  content: '';
  font-family: FontAwesome;
  margin-left: 8px;
  line-height: 1.5;
  color: #b19b5e;
  font-size: 18px;
}

.article__thumbnail .article__readMore {
  display: block;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  z-index: 2;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity .55s ease-in-out;
}