/** Override global settings for hero **/
main .section.article-detail-container > div {
  padding: 0;
  max-width: unset;
}

/** End Global Overrides **/

.article-detail.block .section > div {
  padding: 0;
}

.article-detail.block .default-content-wrapper p {
  font-size: var(--body-font-size-l);
  line-height: var(--line-height-l);
  font-family: var(--ff-opensans);
  color: var(--clr-dark-gray);
  cursor: default;
}

.article-detail.block .default-content-wrapper a {
  text-decoration: underline;
  color: var(--subdued-gold);
}

.article-detail.block .default-content-wrapper .article-image-wrapper {
  padding: 20px;
}

.article-detail.block .default-content-wrapper .article-image-wrapper a {
  display: block;
  margin: 0 auto;
}

.article-detail.block .default-content-wrapper .article-image-caption {
  font-family: var(--ff-opensans);
  font-size: 16px;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  color: var(--medium-grey);
  margin: 0;
  padding-top: 20px;
}

.article-detail.block .default-content-wrapper blockquote {
  border-color: var(--vv-light-grey);
  border-width: 1px 0;
  border-style: solid;
  margin: 0 0 20px;
  padding: 10px 0 10px 50px;
  background: transparent url('/cigaradvisor/images/blog-post/blockquote.png') no-repeat 0 20px;
}

.article-detail.block .default-content-wrapper blockquote p {
  padding: 10px;
  margin: 0;
  color: var(--charcoal);
  background: transparent url('/cigaradvisor/images/blog-post/pattern-1.png') repeat;
}


@media screen and (min-width: 1200px) {
  .blog-post-template main .default-content-wrapper {
    padding: 0;
  }
}
