.search-results.block p {
   text-align: center;
}

.search-results.block {
   position: relative;
   min-height: 100vh;
}

.search-results.block .loading-image-container {
   position: absolute;
   top: 40px;
   left: 0;
   z-index: 1000;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
}

.search-results.block .article-list-wrapper {
   display: none;
}

.search-results.block .loading-image {
   display: block;
   margin: 0 auto;
   width: 100vw;
   height: 300px;
}

.search-results.block .loader {
   width: 48px;
   height: 48px;
   border: 5px solid var(--medium-grey);
   border-bottom-color: transparent;
   border-radius: 50%;
   display: inline-block;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}