.author-list.block .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}

.author-list.block .pagination {
    display: flex;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.author-list.block .pagination li {
    display: inline;
}

.author-list.block .pagination a {
    border: .5px solid var(--tan);
    margin: auto 2px;
    font-size: var(--body-font-size-s);
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    font-weight: var(--font-weight-normal);
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: var(--line-height-m);
    text-decoration: none;
    background-color: var(--clr-white);

}

.author-list.block .pagination a:hover {
    background-color: var(--tan);
    border-color: var(--tan);
    color: var(--clr-white);
}

.author-list.block .pagination .gap:hover {
    background-color: var(--neutral-grey);
}

.author-list.block .pagination a.active {
    background-color: var(--tan);
    color: var(--clr-white);;
}

.author-list.block .author-teaser.block .author-details .author-heading h3 {
    display: none;
}