.footer {
  text-transform: uppercase;
  text-align: center;
}

.footer > h2 {
  display: none;
}

.footer a {
  font-family: unset;
  font-weight: var(--font-weight-semibold);
  font-size: unset;
}

.footer li {
  margin: 0;
  font-family: unset;
  font-weight: unset;
  font-size: unset;
  line-height: unset;
}

/* Footer Legal */

.footer-legal {
  display: flex;
  justify-content: center;
  line-height: 2em;
  font-family: var(--ff-opensans);
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-semibold);
}

.footer-legal ul {
  padding: 15px 0;
  margin: 0;
  list-style-type: none;
}

.footer-legal ul > li {
  line-height: 18px;
}

.footer-legal a {
  font-family: var(--ff-montserrat);
}

/* Footer Nav */

.footer-nav {
  padding: 18px 0 40px;
  font-family: var(--ff-montserrat);
}

.footer-nav nav {
  display: grid;
}

.footer-nav nav > .nav-section {
  padding: 10px;
  width: 100%;
  font-size: var(--body-font-size-s);
  line-height: 33px;
}

.footer-nav nav > .nav-section > p {
  margin: 0;
}

.footer-nav nav > .nav-section.with-heading > h3 {
  margin: 16px 0 5px;
  color: var(--deep-reddish-brown);
  font-family: var(--ff-opensans);
  font-weight: var(--font-weight-bold);
  font-size: var(--body-font-size-m);
  letter-spacing: .06em;
}

.footer-nav nav > .nav-section > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-nav nav > .nav-section:last-child > ul > li {
  display: inline;
}

.footer-nav nav > .nav-section:last-child > ul > li .icon {
  --icon-size: 28px;

  margin: 0 10px;
  filter: var(--clr-filter-gray);
}

@media print, screen and (min-width: 900px) {
  .footer {
    text-align: unset;
  }

  .footer-nav {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .footer-nav nav {
    max-width: 1100px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "nav nav nav nav" "social social social social";
  }

  .footer-nav nav > .nav-section {
    width: fit-content;
  }

  .footer-nav nav > .nav-section.with-heading > h3 {
    margin: 0 0 5px;
  }

  .footer-nav nav > .nav-section:last-child {
    grid-area: social;
    margin: auto;
    text-align: center;
  }

  .footer-legal ul > li {
    display: inline;
    line-height: 24px;
  }

  .footer-legal ul > li:not(:last-child)::after {
    content: " | ";
    margin: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-nav nav {
    grid-template-columns: 8% auto auto auto auto;
  }

  .footer-nav nav > .nav-section:last-child {
    grid-area: unset;
    margin: unset;
    text-align: unset;
  }

  .footer-nav nav > .nav-section:last-child > ul > li .icon {
    margin: 0 18px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-legal {
    font-size: 14px;
  }
}
