main .section .carousel-wrapper {
  position: relative;
  padding: 10px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  overflow: hidden;
  margin-bottom: 25px;
}

.carousel.block>div {
  scroll-margin: 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  scrollbar-width: none;
  transition: transform 3000ms ease 0ms;
}

.carousel.block a picture {
  display: flex;
}

.carousel.block a picture > img{
  display: block;
  flex-grow: 1;
}

.carousel.block>div::-webkit-scrollbar {
  display: none;
}

.carousel.block .slide {
  scroll-snap-align: start;
  display: block;
  flex: 1 0 100%;
  scroll-margin: unset;
  padding: 0 2px;
}


.carousel.block>button {
  position: absolute;
  top: 40%;
  background: unset;
  padding: 0;
  margin: 0;
  border: none;
  width: 0;
  line-height: none;
}

.carousel.block>button.prev {
  left: 0;
}

.carousel.block>button.next {
  right: 0;
  padding: 0 30px 0 0;
}


.carousel.block .carousel-arrow {
  display: flex;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  padding: 0;
  margin: 0;
  background-color: #000000B3;
  text-align: center;
  width: 30px;
  height: 50px;
  align-items: center;
}

.carousel.block .carousel-arrow .prev-icon,
.carousel.block .carousel-arrow .next-icon {
  display: flex;
  font-size: 45px;
  color: #fff;
}

.carousel.block .carousel-arrow .next-icon::before {
  content: '\f105';
  font-family: var(--ff-fontawesome);
  padding-left: 50%;
  font-size: var(--body-font-size-xxxl);
}

.carousel.block .carousel-arrow .prev-icon::before {
  content: '\f104';
  font-family: var(--ff-fontawesome);
  padding-left: 50%;
  font-size: var(--body-font-size-xxxl);
}

.carousel.block .carousel-arrow.arrow-prev.disabled, .carousel.block .carousel-arrow.arrow-next.disabled {
  display: none;
}

@media screen and (min-width: 600px) {
  .carousel.block .slide {
    flex: 1 0 50%;
  }
}
