.author-detail.block {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    margin-bottom: 40px;
    border: 2px solid #8e7b5c;
    min-height: 350px;
    padding: 20px 0;
}

.author-detail.block .author-image {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.author-detail.block .author-image img {
    max-height: 245px;
    max-width: 245px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #8e7b5c;
}

.author-detail.block .author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 20px;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
}

.author-detail.block .author-info .author-name {
    font-size: 20px;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 900;
    color: #141414;
}

.author-detail.block .author-info .author-title {
    font-style: italic;
    font-size: 18px;
    margin: 0 15px;
    font-weight: 400;
    position: relative;
    bottom: 2px;
}

.author-detail.block .author-intro {
    margin: 12px 0;
}

.author-detail.block .author-intro p {
    line-height: 24px;
    font-weight: 700;
    margin: 0;
}

.author-detail.block .social-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.author-detail.block .social-links ul>li {
    margin-right: 25px;
}

/* media queries */
@media screen and (min-width: 900px) {
    .author-detail.block .author-detail.block {
        flex-direction: row;
        align-items: stretch;
        max-width: 1080px;
    }

    .author-detail.block .author-image {
        width: 25%;
        float: left;
    }

    .author-detail.block .author-info {
        width: 75%;
        padding: 50px;
        margin-top: 0;
        text-align: left;
        float: left;
        align-items: flex-start;
    }

    .author-detail.block .author-heading-wrapper {
        display: flex;
        align-items: center;
    }

    .author-detail.block .author-info .author-name {
        font-size: 24px;
    }

    .author-detail.block .author-info .author-title {
        font-size: 24px;
    }

    .author-detail.block .social-links ul {
        justify-content: flex-start;
        padding-left: 0;
    }

}

@media screen and (min-width: 1200px) {
    .author-detail.block .author-image {
        transform: translate(-20%,-20%);
        margin-right: 0;
    }
}