/* styles for the floating images auto block */


.section.two-col-grid-container {
    display: block;
}

.two-col-grid.block{
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    height: auto;
    width: auto;
  }
  
  
  @media screen and (max-width: 900px){
    .two-col-grid.block{
      width: 100%;
      flex-direction: column;
    }
  }

  .two-col-grid.block .left-col
  
  main .section[data-layout="50/50"] .article-teaser-wrapper{
    padding: 10px;
  }
  
  main .section[data-layout="50/50"] .imagecta-wrapper{
    display: flex;
    flex-basis: 100%;
    padding: 10px;
  }