.section.two-col-grid-container {
    display: block !important;
}

.section.two-col-grid-container > .two-col-grid-wrapper{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    box-sizing: border-box;
}

.two-col-grid.block{
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    height: auto;
    width: auto;
  }
  
  .two-col-grid.block > div {
    display: flex;
  }

    
  @media screen and (max-width: 600px){
    .two-col-grid.block > div{
      width: 100%;
      flex-direction: column;
    }
  }

  .two-col-grid.block > div > div {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }
  
  .two-col-grid.block .left-column > div{
    padding: 10px;
  }
  
  .two-col-grid.block .right-column > div{
    padding: 10px;
  }

  .two-col-grid.block .imagecta.block{
    display: flex;
    flex-basis: 100%;
  }

  .two-col-grid.block .imagecta.block > a{
    flex-basis: 100%;
  }

  @media screen and (min-width: 1200px) {
    .two-col-grid.block .imagecta.block>a img {
      border: 1px solid #000;
    }
  }