.article-navigation.block {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 0;
    justify-content: space-between;
    max-width: 1080px;
    align-items: stretch;
}

.article-navigation.block>div {
    padding: 10px;
    width: 100%;
}

.article-navigation.block a {
    background-color: var(--transparent-tan);
    padding: 20px 40px;
    border: 1px solid var(--tan);
    display: block;
    width: 100%;
    height: 100%;
}

.article-navigation.block h3 {
    margin: 18px 0;
    line-height: 35px;
    font-size: var(--body-font-size-l);
    font-weight: var(--font-weight-bold);
    font-family: var(--ff-montserrat);
}

.article-navigation.block span {
    line-height: 35px;
    font-size: var(--body-font-size-l);
    font-weight: var(--font-weight-bold);
    font-family: var(--ff-montserrat);
    display: inline-block;
    color: var(--tan);
}

.article-navigation.block .previous-article-nav a {
    text-align: center;
}

.article-navigation.block .next-article-nav a {
    text-align: center;
}

.article-navigation.block .previous-article-nav h3::before {
    content: '';
    font-family: var(--ff-fontawesome);
    margin-right: 10px;
    font-size: var(--body-font-size-s);
    ;
}

.article-navigation.block .next-article-nav h3::after {
    content: '';
    font-family: var(--ff-fontawesome);
    margin-left: 10px;
    font-size: var(--body-font-size-s);
}


@media screen and (min-width: 600px) {
    .article-navigation.block>div {
        width: 50%;
        padding: 10px 10px 10px 0;
    }

    .article-navigation.block .previous-article-nav a {
        text-align: left;
    }

    .article-navigation.block .next-article-nav a {
        text-align: right;
    }
}
