.author.block {
    display: flex;
    padding: 20px 0;
}

.author.block>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.author.block .image-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.author.block .image-wrapper img {
    width: 100%;
    max-width: 300px;
    border: 1px solid var(--tan);
}

.author.block .author-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid var(--clr-dark-gray);
    border-bottom: 2px solid var(--clr-dark-gray);
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
}

.author.block .author-details .author-heading-wrapper {
    display: flex;
    margin-top: 5px;
}

.author.block .author-details .author-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author.block .author-details .author-heading h2 {
    font-size: 24px;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 900;
    color: var(--clr-dark-gray);
}

.author.block .author-details .author-heading h3 {
    margin: 0 0 0 10px;
    position: relative;
    bottom: 2px;
    font-size: 14px;
    font-family: var(--ff-opensans);
    font-weight: 600;
    color: var(--clr-dark-gray);
    cursor: default;
    display: inline-block;
}


.author.block .author-details p {
    font-weight: bolder;
}

.author.block .author-details a {
    color: #1e90ff;
    font-weight: bolder;
    margin-bottom: 5px;
}

.author.block .author-details ul {
    display: flex;
    margin: 10px 0;

    --icon-size: 20px;
}

.author.block .author-details ul li {
    margin-right: 20px;
}

/* media queries */
@media screen and (min-width: 900px) {
    .author.block>div {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1080px;
    }

    .author.block .image-wrapper {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 25%;
        float: left;
    }

    .author.block .author-details {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        border-top: 2px solid var(--clr-dark-gray);
        border-bottom: 2px solid var(--clr-dark-gray);
        text-align: left;
        width: 75%;
        margin-top: 0;
        padding: 0;
        margin-left: 60px;
        float: left;
    }

    .author.block .author-details .author-heading {
        display: flex;
        flex-direction: row;
        align-items: start;
    }
}
