/** Override global settings **/

main .hero-container {
  padding: 0;
}

main .hero-container > div {
  max-width: unset;
}

/** Hero Stuff **/
main .hero.block {
  position: relative;
}

main .hero.block.under-nav {
  margin-top: -43px;
}

main .hero.block .hero-image {
  z-index: -9999;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: clip;
}

main .hero.block .hero-image picture {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

main .hero.block .hero-image img {
  object-position: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

main .hero.block.search .hero-content {
  padding-top: 80px;
}

main .hero.block:not(.search) {
  display: flex;
  min-height: 150px;
  align-items: center;
  justify-content: center;
}

main .hero.block h1 {
  color: var(--clr-white);
  text-align: center;
  line-height: 1;
  text-shadow: 3px 3px var(--clr-black);
}

/* hero search */
main .hero.block .hero-search {
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
}

main .hero.block .hero-search form {
  display: flex;
  width: 70%;
  border-bottom: 4px solid var(--clr-dark-gray);
  padding-bottom: 10px;
}

/* set form input placeholder text color color: var(--clr-dark-gray); */
main .hero.block .hero-search form input {
  flex: 1;
  padding-left: 18px;
  height: 45px;
  width: 100%;
  border: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--body-font-size-l);
  line-height: 27px;
  transition: background-color 1s;
  background-color: transparent;
}

main .hero.block .hero-search form input::placeholder {
  color: var(--clr-dark-gray);
}

main .hero.block .hero-search form input:focus {
  border: none;
  transition: background-color 1s;
  background-color: var(--light-grey);
}

main .hero.block .hero-search form button {
  background: transparent;
  border: none;
  cursor: pointer;

  --icon-size: 30px;
}

@media screen and (min-width: 900px) {
  main .hero.block.under-nav {
    margin-top: -70px;
  }

  main .hero.block .hero-content {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  main .hero.block .hero-search form {
    width: 30%;
  }
}
