/* block specific CSS goes here */

main .hero-container>div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
  margin-bottom: 10%;
}

main .hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

main .hero>div>div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main .hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  margin-top: 1%;
  height: 85%;
}

main .hero.block {
  text-align: center;
}

main .hero-content {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  color: #fff;
  text-shadow: 0 0 1rem #000;
}

main .hero h1 {
  line-height: 1;
  letter-spacing: 3px;
  color: #f7f7f7;
  text-shadow: 3px 3px #000;
  text-wrap: nowrap;
}

/* hero search */
main .hero .hero-search .search-box{
  display: flex;
  justify-content: center;
}

main .hero .hero-search{
  margin: 20px auto;
  width: 100%;
}

main .hero .search{
  width: 70%;
}

main .hero .search form {
  border-bottom: 4px solid #141414;
  padding-bottom: 10px;
}

main .hero .search form .focused{
  transition: 1s;
  background-color: #d3d3d3;
}

.search form button {
  position: relative;
  top: 0;
  right: 0;
  background: 0 0;
  color: #141414;
  width: 2.85rem;
  padding: 0;
  line-height: 2.85rem;
  margin: 0;
  border: none;
  border-radius: 0;
}

.search form button::before {
  content: "\f002";
  position: absolute;
  text-align: center;
  font-family: var(--ff-fontawesome);
  cursor: pointer;
}

/* set form input placeholder text color color: #141414; */
.search form input {
  color: #141414;
  border: none;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  width: 100%;
  background: 0 0;
  position: relative;
  left: 0;
  max-width: 100%;
  z-index: 1;
}

.search form input::placeholder {
  color: #141414;
}

.search form button::before {
  position: relative;
  width: 2em;
  font-size: 30px;
}

@media screen and (min-width: 900px) {
  main .hero img {
    width: 100%;
    height: 185%;
    max-width: none;
    margin-top: -65px;
  }

  main .hero .search{
    width: 30%;
  }

  main .hero-content {
    top: 100%;
  }
}
