.imagecta.block > a {
  display: block;
  margin: 0 auto;
}

.imagecta.block > a picture {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.imagecta.block > a picture > img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section[data-layout="50/50"] .imagecta-wrapper{
  display: flex;
  flex-basis: 100%;
}

.section[data-layout="50/50"] .imagecta.block{
  display: flex;
  flex-basis: 100%;
}

.section[data-layout="50/50"]  .imagecta.block > a{
  flex-basis: 100%;
}

@media screen and (min-width: 1200px) {
  .section[data-layout="50/50"] .imagecta.block>a img {
    border: 1px solid #000;
  }

  /* removing border for 2 column videos section */
  .two-column-section[data-layout="50/50"] .imagecta.block>a img {
    border: none;
  }
}
