/* using flex arrange items horizontally and give a black background */
.nav-wrapper {
}   

#nav { 
  display: flex;
  flex-direction: column;
  margin: auto;
}

.nav-wrapper p {
    color: #8e7b5c;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 12px;
}

.default-content-wrapper{
    display: block;
    width: 100%;
}

.top-nav{
    background-color:#141414;
    min-height: 60px;
    align-items: center;
    height: 60px;
}

/* .brand-logo{
    position: absolute;
    left: calc(50% - 80px);
    top: 0;
    width: auto;
    z-index: 1000;
    float: left;
    text-align: left;
    line-height: normal;
    margin: 0 2em 0 0;
    height: 42px;
    max-width: 100%;
    font-size: 0;
} */

.brand-logo{
    z-index: 1000;
}


/* arrange top-nav-content horizontally centered */
.top-nav .top-nav-content{
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
}

.top-nav-left, .top-nav-right {
    width: calc(50% - 80px);
    padding: 0 10px;
    display: flex;
    justify-content: center;
    
}

.top-nav-left{
    float: left;
    justify-content: center;
    align-items: center;
}

.top-nav-right{
    float: right;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}


/* arrange li items horizontally under .default-content-wrapper ul */
.top-nav-left ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: 25px;
}

.top-nav-left ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-nav-left ul li span{
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.top-nav-right ul{
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: 5px;
}

.top-nav-right ul li{
    flex: 0 0 auto;
    margin: 0 8px;
    font-weight: 400;
    font-size: 14px;
}

.top-nav-right ul li a span {
    color: #8e7b5c;
    font-size: 24px;
}

.top-nav-right .default-content-wrapper{
    width: auto;
}


.default-content-wrapper ul a{
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.top-nav-right ul li img{
    width: 25px;
    height: 25px;
}

.nav-hamburger {
    display: none;
}

.nav-primary-nav {
    display: none;
}

.nav-social-links {
    display: none;
}

/* Primary navigation */
.primary-nav {
    display: flex;
}

/* hide all nested second level ul elements under .primary-nav */
.primary-nav ul > li > ul {
    display: none;
}

.primary-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*apply white transparent background to .primary-nav */
.primary-nav{
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    overflow: visible;
    width: auto;
    max-width: none;
    padding-top: 15px;
    transform: none;
    transition: none;
    z-index: auto;
}

.primary-nav ul{
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
}